version: '3.8'

services:
  # Dagster application
  dagster:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dragster_dagster
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      MODE: DEV
      LOCAL_MONGO_URI: mongodb://host.docker.internal:27017/development
      LOCAL_MONGO_DATABASE: development
      DEV_MONGO_HOST: 8ac6141a-00b0-4e38-a2b1-84e43ea9096c.mgdb.fr-par.scw.cloud
      DEV_MONGO_USERNAME: development
      DEV_MONGO_PASSWORD: (rQz66ZKqX2b)4u+F4[Q
      DEV_MONGO_PORT: 27017
      DEV_MONGO_DATABASE: development
      PROD_MONGO_HOST: your-prod-host.com
      PROD_MONGO_USERNAME: prod_user
      PROD_MONGO_PASSWORD: prod_password
      PROD_MONGO_PORT: 27017
      PROD_MONGO_DATABASE: production
      CLIENTS_COLLECTION: clients
      LOCAL_REDIS_HOST: host.docker.internal
      LOCAL_REDIS_PORT: 6379
      LOCAL_REDIS_DB: 0
      REDIS_HOST: 163.172.146.221
      REDIS_PORT: 6379
      REDIS_USERNAME: bytescare
      REDIS_PASSWORD: Jn87HZ*2Axaqy9cJT-&j
      REDIS_DB: 0
      DAGSTER_HOME: /app/dagster_home
    volumes:
      - ./dragster_project:/app/dragster_project
      - ./secrets:/app/secrets
      - dagster_home:/app/dagster_home
    networks:
      - dragster_network
    command: ["dagster", "dev", "-h", "0.0.0.0", "-p", "3000"]

volumes:
  dagster_home:
    driver: local

networks:
  dragster_network:
    driver: bridge
